.login-form {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-form__title {
  color: transparent;
  text-align: center;
  font-size: 100px;
  transition: all 1s ease-in-out;
}
.login-form:hover .login-form__title {
  color: black;
}

#login-form {
  margin-top: 20px;
}
.login-form__input {
  height: 50px;
  font-size: 42px;
  border: 0;
  text-align: center;
  visibility: hidden;
  background: transparent;
  animation: login-input-animation 2s ease-in-out forwards;
}

@keyframes login-input-animation {
  from {
    border-bottom: 1px white solid;
    width: 0;
  }
  to {
    border-bottom: 1px black solid;
    visibility: visible;
    width: 100%;
  }
}

.login-form__input:focus {
  outline: none;
}
#login-form * {
  font-family: "Nanum Pen Script", cursive;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
  width: 100%;
  text-align: center;
  /* animation: title-animation 1.5s ease-in-out forwards; */
  /* visibility: hidden; */
}

@keyframes title-animation {
  0% {
    color: transparent;
  }
  50% {
    color: white;
  }
  100% {
    visibility: hidden;
    color: transparent;
  }
}
